:root {
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;

  --primario: #784D3C;
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/Fondo.jpg); /* Agregar la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen en el fondo */
}

/** Globales **/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
}
h1, h2, h3, h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}

/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

/** Header **/
.webp .header {
  background-image: url(../img/Grua2.jpg);
}
.no-webp .header {
  background-image: url(../img/Grua2.jpg);
}
.header {
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__texto {
  text-align: center;
  color: #000000;
  margin-top: 5rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.6); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Difumina el fondo detrás del texto */
  border-radius: 1rem; /* Esquinas redondeadas para un mejor estilo */
}

@media (min-width: 768px) {
  .header__texto {
      margin-top: 15rem;
  }
}
.barra {
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}

.logo {
  color: #fcf4f4;
  padding: 0.5rem 1rem; /* Espacio dentro del fondo difuminado */
  background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  border-radius: 0.5rem; /* Bordes redondeados */
  display: inline-block; /* Asegura que el elemento tome solo el ancho necesario */
  margin: 0.5rem; /* Pequeño margen alrededor del logo */
}

.logo__nombre {
  font-weight: 400;
  color: #fcf4f4;
}
.logo__bold {
  font-weight: 700;
}
@media (min-width: 768px) {
  .navegacion {
      display: flex;
      gap: 2rem;
  }
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .contenido-principal {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 4rem;
  }
}

.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}
.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
}

@media (min-width: 768px) {
  .boton {
      display: inline-block;
  }
}
.boton:hover {
  cursor: pointer;
}
.boton--primario {
  background-color: var(--negro);
}
.boton--secundario {
  background-color: var(--primario);
}

/* From Uiverse.io by Gaurang7717 */ 
.Btn-wsp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn-wsp:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn-wsp:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn-wsp:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.Btn-wsp:active {
  transform: translate(2px, 2px);
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn-insta {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.svgIcon {
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.Btn-insta:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.Btn-insta:hover .text {
  opacity: 1;
  transition-duration: .4s;
}

.Btn-insta:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}

.footer {
  background-color: var(--negro);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

.footer-right {
  color: rgba(199, 194, 194, 0.595); /* Color del texto */
  text-align: center; /* Alinear el texto a la derecha */
  padding: 10px 20px; /* Espaciado lateral, opcional */
}

/* Sección de Por Qué Elegirnos */
.elegirnos-section {
  background-color: #2f2f2f; /* Fondo oscuro */
  padding: 3rem 0;
}

.elegirnos-section .titulo-seccion {
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.tarjetas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas */
  gap: 2rem; /* Espacio entre las tarjetas */
}

.tarjeta {
  background-color: var(--blanco); /* Color de fondo de las tarjetas */
  border-radius: 1rem; /* Bordes redondeados */
  padding: 2rem;
  width: 300px; /* Ancho fijo para las tarjetas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center; /* Centra el texto dentro de las tarjetas */
  transition: transform 0.3s; /* Transición suave para el efecto hover */
}

.tarjeta:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.icono-caracteristica {
  font-size: 3rem; /* Tamaño del icono */
  margin-bottom: 1rem; /* Espacio debajo del icono */
  color: var(--primario); /* Color del icono */
}

.tarjeta h4 {
  font-size: 2rem; /* Tamaño del título dentro de la tarjeta */
  margin-bottom: 0.5rem; /* Espacio debajo del título */
  color: var(--negro); /* Color del título */
}

.tarjeta p {
  font-size: 1.6rem; /* Tamaño del texto descriptivo */
  color: #555; /* Color del texto descriptivo */
}


/* From Uiverse.io by svqantonio */ 
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.facebook {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.whatsapp {
  margin-top: -.6em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.gmail {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #f14336;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card3:hover .whatsapp {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #FF0004;
}

.card4:hover .gmail {
  fill: white;
}


/* From Uiverse.io by SouravBandyopadhyay */ 
.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

